body {
  font-family: 'poppins' normal;
}

.displayNone {
  display: none;
}

.mainbody {
  float: left;
  width: 100%;
  height: 100%;
}

.defaultFLoat {
  float: left;
  width: 100%;
}

.cont {
  float: left;
  max-width: 1024px;
  width: 100%;
  margin-top: 50px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.title {
  text-align: center;
  font-size: 26px;
  font-weight: 600;
}

/* form */
.formcont {
  margin-left: 50%;
  transform: translateX(-50%);
  float: left;
  max-width: 380px;
  width: 100%;
  margin-top: 40px;
  /* background-color: aqua; */
}

.formcont1 {
  margin-left: 50%;
  transform: translateX(-50%);
  float: left;
  max-width: 380px;
  width: 100%;
  margin-top: 40px;
  /* background-color: aqua; */
}

.formsin {
  float: left;
  width: 100%;
  padding: 10px 20px;
}

.formsinname {
  font-size: 15px;
  margin-bottom: 5px;
  color: grey;
}

/* .formsinimputcont {
  background-color: aqua;
} */
.formsinimputcont input {
  float: left;
  width: calc(100% - 16px);
  outline: none;
  cursor: pointer;
  padding: 7px 8px;
  border: 1px solid rgb(201, 201, 201);
}

.formsinimputcont select {
  float: left;
  width: calc(100% - 0px);
  outline: none;
  cursor: pointer;
  padding: 7px 8px;
  background-color: white;
  border: 1px solid rgb(201, 201, 201);
}

.formsinerror {
  font-size: 13px;
  margin-top: 5px;
  color: red;
}

.submitButton {
  background-color: red;
  margin-left: 20px;
  margin-top: 30px;
  border: none;
  outline: none;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.submitButton span {
  float: left;
  width: 25px;
  height: 25px;
}

.submitButton span img {
  float: left;
  width: 100%;
  width: 100%;
}

.defaultRight {
  float: left;
  width: auto;
  font-size: 15px;
  color: white;
  margin: 3.5px 5px 0 5px;
}

.res {
  margin-top: 10px;
}

.res0 {
  font-size: 15px;
  color: grey;
}

.res1 {
  font-size: 17px;
  font-weight: 600;
}

.submitButton1 {
  background-color: red;
  margin-top: 30px;
  border: none;
  outline: none;
  color: white;
  padding: 8px 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* mobile version */

@media screen and (max-width: 425px) {
  .formsin, .formcont1 {
    width: 80%;
    margin-left: 50%;
    transform: translateX(-50%);
    /* background-color: aqua; */
  }
  .formsinimputcont input {
    width: calc(100%-30px);
  }
  .submitButton {
    margin-left: 40px;
  }
  .submitButton1 {
    padding: 13px 18px;
    margin-top: 50px;
  }
}